<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="/plugin/iview/styles/iview.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div id="app"></div>

<script type="text/x-template" id="main">
<Col class="cs-container" span="20" >
    <slot name="breadcrumb"></slot>
    <!-- 这个不能删除，用于面包屑显示 -->
    <div class="cs-content">
        <row>
        <Col :xs="globalConfig.xs" :sm="globalConfig.sm" :md="globalConfig.md" :lg="globalConfig.lg">
            <Card>
            <Alert>
                {{ $t('ipf.help') }}
            </Alert>
            <Form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="globalConfig.labelWith" label-position="left">
                <FormItem :label="$t('ipf.title')">
                    <i-switch v-model="formValidate.status" size="large" @on-change="submitStatus">
                        <span slot="open">{{ $t('common.enabled') }}</span>
                        <span slot="close">{{ $t('common.disabled') }}</span>
                    </i-switch>
                </FormItem>
                <Col v-show="formValidate.status" >
                {{ $t('ipf.add_rule') }}
                <hr>
                <br>
                <FormItem :label="$t('ipf.ip')" prop="ip">
                    <Row>
                        <Col span="19"><Input v-model="formValidate.ip" ></Input></Col>
                        <Col span="4" offset="1"><Button long @click="showClientList">{{ $t('ipf.scan') }}</Button></Col>
                    </Row>
                </FormItem>
                <FormItem :label="$t('ipf.protocol')">
                    <i-select v-model="formValidate.protocol">
                      <Option value="ALL">TCP/UDP</Option> 
                      <Option value="TCP">TCP</Option>
                      <Option value="UDP">UDP</Option>
                    </i-select>
                </FormItem>
                <FormItem :label="$t('ipf.port_range')">
                    <Row>
                        <Col span="9"><FormItem prop="dFromPort"><Input :maxlength="5" v-model="formValidate.dFromPort" ></Input></FormItem></Col>
                        <Col span="2" align="center">--</Col>
                        <Col span="9"><FormItem prop="dToPort"><Input :maxlength="5" v-model="formValidate.dToPort" ></Input></FormItem></Col>
                        <span>(1-65535)</span>
                    </Row>
                </FormItem>
                <FormItem :label="$t('ipf.comment')" prop="comment">
                    <Input v-model="formValidate.comment" :maxlength="20"></Input>
                </FormItem>
                <!-- btn -->
                <FormItem>
                    <Tooltip :content="$t('ipf.ipf_table')" :always="ipfData.length >= 10" :disabled="ipfData.length < 10" >
                      <Button type="primary" :loading="addIpfLoading" @click="handleSubmit('formValidate')" :disabled="ipfData.length >= 10">{{ $t('ipf.add') }}</Button>
                    </Tooltip>
                </FormItem>
                </Col>
            </Form>
            </Card>
            <br>
        </Col>
        </row>
        <Row v-show="formValidate.status">
            <Col>{{ $t('ipf.ipf_table') }}</Col>
            <Col class="cs-btn-del">
                <Poptip
                    confirm
                    :title="atonceSelectFalg?$t('ipf.msg12'):$t('ipf.msg11')"
                    @on-popper-show="tableSelectAtonce"
                    @on-ok="tableSelect(true)"
                    @on-cancel="cancel">
                    <Button size="small" type="error">{{ $t('macf.delete') }}</Button>
                </Poptip>
                <!-- <Button size="small" @click="tableSelect(true)" type="error">{{ $t('ipf.delete') }}</Button> -->
            </Col>
            <Col v-show="formValidate.status" >
            <Table border ref="tableSelect" :columns="ipfColumns" :data="ipfData"></Table>
            </Col>
        </Row>
    </div>
    <Modal
        v-model="showModel"
        :title="$t('ipf.modal_title')"
        @on-ok="ok"
        @on-cancel="cancel"
        :ok-text="$t('common.ok')"
        :cancel-text="$t('common.cancel')">
        <Table highlight-row :loading="arpLoading" :columns="arpColumns" :data="arpData" @on-current-change="selectTable"></Table>
    </Modal>
    <!-- 这个不能删除，用于底部显示 -->
    <slot name="footer"></slot>
</Col>
</script>
<script src="/plugin/vue.js"></script>
<script src="/plugin/vue-i18n.js"></script>
<script src="/plugin/iview/iview.js"></script>
<script src="/plugin/jquery-1.11.3.min.js"></script>
<script src="/plugin/util.js"></script>
<script src="/static/js/language.js"></script>
<script src="/static/js/config.js"></script>
<script src="/static/js/layout.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/topicurl.js"></script>
<script>
var cs_main = {
  template:"#main",
  data:function(){
    return {
      globalConfig:globalConfig,
      arpLoading:true,
	  addIpfLoading:false,
      atonceSelectFalg:false,
      formValidate: {
          status:false,
          ip:'',
          protocol:'ALL',
          dFromPort:'',
          dToPort:'',
          comment:''
      },
      ip:'',
      lanIp: '',
      lanNetmask: '',
      showModel:false,
        arpColumns: [
            {
                title: '#',
                key: 'idx',
                sortable:true
            },
            {
                title: 'IP',
                key: 'ip',
                sortable:true
            },
            {
                title: 'MAC',
                key: 'mac',
                sortable:true
            }
        ],
        arpData: [],
        ipfData: []
    }
  },
  computed:{
    ruleValidate: function(){
      var _this = this;
      return{
          ip: [
            { validator:function(r, v, f) {
                var ret = cs.ip(v);
                if (ret == 0 || ret == 1 || ret == 2 || ret == 3 || ret == 4) {
                    f(_this.$t('ipf.msg1'));
                }
                if(v == _this.lanIp){
                f(_this.$t('ipf.msg2'));
              }
              if(0 == cs.ip_subnet(v,_this.lanNetmask,_this.lanIp)){
                f(_this.$t('ipf.msg3'));
              }
              f();
              },trigger: 'blur' }
          ],
          dFromPort: [
            { required: true, message: this.$t('ipf.msg4'), trigger: 'blur' },
            { validator:function(r, v, f) {
              var _s = cs.port(v);
              if(_s == 1 || _s == 2) {
                f(_this.$t('ipf.msg5'));
              }
              f();
            },trigger: 'blur' }
          ],
          dToPort: [
            { validator:function(r, v, f) {
              var _s = cs.port(v);
              if(_s == 1 || _s == 2) {
                f(_this.$t('ipf.msg6'));
              }
              if(v != ""){
                if(Number(_this.formValidate.dFromPort) > v){
                    f(_this.$t('ipf.msg7'));
                    return false;
                }
              }
              f();
            },trigger: 'blur' }
          ],
          comment: [
            { validator:function(r, v, f) {
              var _s = cs.commentstr(v);
              if(_s == 1) {
                f(_this.$t('ipf.msg9'));
              }
			  if(_s == 2){
                f(_this.$t('ipf.msg14'));
              }
			   f();
            },trigger: 'blur' }
          ]
      }
    },
    ipfColumns: function() {
        var _this = this;
        return [{
            type: 'selection',
            key: 'idx',
            width: '100',
            sortable: true
        }, {
            title: 'ID',
            key: 'idx',
            sortable: true
        }, {
            title: this.$t('ipf.ip'),
            key: 'ip',
            sortable: true
        }, {
            title: this.$t('ipf.protocol'),
            key: 'proto',
            sortable: true
        }, {
            title: this.$t('ipf.port_range'),
            key: 'portRange',
            sortable: true
        }, {
            title: this.$t('ipf.comment'),
            key: 'comment',
            sortable: true
        }, {
            title: this.$t('ipf.select'),
            key: 'idx',
            align: 'center',
            render: function(h, params) {
                return h('Poptip',{
                    props: {
                        confirm: true,
                        title: _this.$t('macf.msg12'),
                        "ok-text":_this.$t('common.ok'),
                        "cancel-text":_this.$t('common.cancel')
                    },
                    on: {
                        "on-ok": function(){
                            _this.deleteData(params);
                        }
                    }
                }, [
                    h('Button', {
                        props: {
                            type: 'error',
                            size: 'small'
                        },
                    }, _this.$t('ipf.delete'))
                ]);
            }
        }];
    }
  },
  created:function(){
    var _this = this;
    uiPost.getIpPortFilterRules(function(data) {
        _this.formValidate.status = data[0].enable == 1 ?true :false;
        _this.lanIp = data[0].lanIp;
        _this.lanNetmask = data[0].lanNetmask;
        _this.lanNetmask = data[0].lanNetmask;
        if (data[0].lanIp) {
            var temp = data[0].lanIp.split('.');
            _this.formValidate.ip = temp[0]+'.'+temp[1]+'.'+temp[2]+'.';
        }
        var rule_num = data.length;
        if (rule_num >= 2){
            _this.ipfData = data.slice(1);
        }
    })
  },
  methods:{
    handleSubmit: function(name) {
        var _this = this;
		_this.addIpfLoading = true;
        _this.$refs[name].validate(function(valid){
            if (valid) {
                if(_this.ipfData.length) {
                    for(var i=0; i<_this.ipfData.length; i++){
                        var temp = _this.ipfData[i].portRange.split('-');
                        if(_this.formValidate.ip == _this.ipfData[i].ip){
                            if(_this.formValidate.dToPort != ""){
                                if(
                                    _this.formValidate.dFromPort == Number(temp[0]) || 
                                    _this.formValidate.dToPort == Number(temp[1]) || 
                                    _this.formValidate.dToPort == Number(temp[0]) || 
                                    _this.formValidate.dFromPort == Number(temp[1])
                                ){
                                    _this.$Message.error(_this.$t('ipf.msg8'));
                                    _this.addIpfLoading = false;
                                    return false;
                                }
                                if(_this.formValidate.dFromPort < Number(temp[0]) && 
                                    _this.formValidate.dToPort > Number(temp[1])){
                                    _this.$Message.error(_this.$t('ipf.msg8'));
                                    _this.addIpfLoading = false;
                                    return false;
                                }
                                if(_this.formValidate.dFromPort > Number(temp[0]) && 
                                    _this.formValidate.dFromPort < Number(temp[1])){
                                    _this.$Message.error(_this.$t('ipf.msg8'));
                                    _this.addIpfLoading = false;
                                    return false;
                                }
                            }else{
                                if(_this.formValidate.dFromPort == Number(temp[0]) || _this.formValidate.dFromPort == Number(temp[1])){
                                    _this.$Message.error(_this.$t('ipf.msg8'));
                                    _this.addIpfLoading = false;
                                    return false;
                                }
                                if(_this.formValidate.dFromPort > Number(temp[0]) && _this.formValidate.dFromPort < Number(temp[1])){
                                    _this.$Message.error(_this.$t('ipf.msg8'));
                                    _this.addIpfLoading = false;
                                    return false;
                                }
                            }
                        }
                    }
                }
                var postVar = {};
                postVar.ipAddress = _this.formValidate.ip;
                postVar.protocol = _this.formValidate.protocol;
                postVar.dFromPort = _this.formValidate.dFromPort;
                postVar.dToPort = _this.formValidate.dToPort;
                postVar.comment = _this.formValidate.comment;
                postVar.addEffect = "0";
                uiPost.setIpPortFilterRules(postVar,function(data){
                    _this.addIpfLoading = false;
                    location.href = location.href;
                });
            }else{
              _this.addIpfLoading = false;
            }
        })
    },
    showClientList:function(){
      var _this = this;
      _this.showModel = true;
      uiPost.getArpTable(function(data){
          _this.arpData = data.slice(1);
          _this.arpLoading = false;
      });
    },
    ok:function () {
        this.formValidate.ip = this.ip;
        //this.$Message.info('Clicked ok');
    },
    cancel:function () {
        //this.$Message.info('Clicked cancel');
    },
    submitStatus:function(){
        var postVar = {};
        if(true == this.formValidate.status){
            postVar.enable = "1";
        }else{
            postVar.enable = "0";
        }
        postVar.addEffect = "1";
        uiPost.setIpPortFilterRules(postVar);
    },
    selectTable:function (obj) {
        this.ip = obj.ip;
    },
    deleteData:function (obj) {
        var _this = this;
        var postVar = {};
        postVar[obj.row.delRuleName] = obj.index;
        uiPost.delIpPortFilterRules(postVar,function(){
            _this.ipfData.splice(obj.index, 1);
        });
    },
    tableSelectAtonce:function(){
        var _this = this;
        var getSelection = this.$refs.tableSelect.getSelection();
        if (getSelection.length>0) {
            _this.atonceSelectFalg = true;
        }else{
            _this.atonceSelectFalg = false;
        }
    },
    tableSelect:function(status){
        var _this = this;
        if (status) {
            var getSelection = this.$refs.tableSelect.getSelection();
            if (getSelection.length>0) {
                var postVar = {};
                for(var i=0; i<getSelection.length; i++)
                {
                    postVar[getSelection[i].delRuleName] = i;
                }
                uiPost.delIpPortFilterRules(postVar,function(){
                    _this.$Message.success({content:_this.$t('ipf.msg13'),onClose:function(){
                        location.href = location.href;
                    }});
                    
                });
            }
        }else{
            this.$refs.tableSelect.selectAll(status);
        }
    }
  }
};
</script>
<script src="/static/js/main.js"></script>
</body>
</html>