<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="/plugin/iview/styles/iview.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div id="app"></div>

<script type="text/x-template" id="main">
<Col class="cs-container" span="20" >
    <slot name="breadcrumb"></slot>
    <!-- 这个不能删除，用于面包屑显示 -->
    <div class="cs-content">
        <row>
        <Col :xs="globalConfig.xs" :sm="globalConfig.sm" :md="globalConfig.md" :lg="globalConfig.lg">
            <Card>
            <Col>
                <Alert>
                    {{ $t('portfwd.help') }}
                </Alert>
            </Col>
            <Form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="globalConfig.labelWith" label-position="left">
                <FormItem :label="$t('portfwd.title')">
                    <i-switch v-model="formValidate.status" size="large" @on-change="submitStatus">
                        <span slot="open">{{ $t('common.enabled') }}</span>
                        <span slot="close">{{ $t('common.disabled') }}</span>
                    </i-switch>
                </FormItem>
                <Col v-show="formValidate.status" >
                {{ $t('portfwd.add_rule') }}
                <hr>
                <br>
                <FormItem :label="$t('portfwd.protocol')">
                    <i-select v-model="formValidate.protocol">
                      <Option value="TCP&UDP">TCP/UDP</Option> 
                      <Option value="TCP">TCP</Option>
                      <Option value="UDP">UDP</Option>
                    </i-select>
                </FormItem>
                <FormItem :label="$t('portfwd.ip')" prop="ip">
                    <Row>
                        <Col span="19"><Input v-model="formValidate.ip" ></Input></Col>
                        <Col span="4" offset="1"><Button long @click="showClientList">{{ $t('portfwd.scan') }}</Button></Col>
                    </Row>
                </FormItem>
                <FormItem :label="$t('portfwd.internal_port')" prop="fromPort">
                    <Input v-model="formValidate.fromPort" :maxlength="5"></Input>
                    <span>(1-65535)</span>
                </FormItem>
                <FormItem :label="$t('portfwd.external_port')" prop="wanfromPort">
                    <Input v-model="formValidate.wanfromPort" :maxlength="5"></Input>
                    <span>(1-65535)</span>
                </FormItem>
                <FormItem :label="$t('portfwd.comment')" prop="comment">
                    <Input v-model="formValidate.comment" :maxlength="20"></Input>
                </FormItem>
                <!-- btn -->
                <FormItem>
                    <Tooltip :content="$t('portfwd.portfwd_table')" :always="portfwdData.length >= 10" :disabled="portfwdData.length < 10" >
                      <Button type="primary" :loading="addPortfwdLoading" @click="handleSubmit('formValidate')">{{ $t('portfwd.add') }}</Button>
                    </Tooltip>
                </FormItem>
                </Col>
            </Form>
            </Card>
            <br>
        </Col>
        </row>
        <Row  v-show="formValidate.status" >
            <Col>{{ $t('portfwd.portfwd_table') }}</Col>
            <Col class="cs-btn-del">
                <Poptip
                    confirm
                    :title="atonceSelectFalg?$t('portfwd.msg12'):$t('portfwd.msg11')"
                    @on-popper-show="tableSelectAtonce"
                    @on-ok="tableSelect(true)"
                    @on-cancel="cancel">
                    <Button size="small" type="error">{{ $t('macf.delete') }}</Button>
                </Poptip>
                <!-- <Button size="small" @click="tableSelect(true)" type="error">{{ $t('static_dhcp.delete') }}</Button> -->
            </Col>
            <Col>
            <Table border ref="tableSelect" :columns="portfwdColumns" :data="portfwdData"></Table>
            </Col>
        </Row>
    </div>
    <Modal
        v-model="showModel"
        :title="$t('portfwd.modal_title')"
        @on-ok="ok"
        @on-cancel="cancel"
        :ok-text="$t('common.ok')"
        :cancel-text="$t('common.cancel')">
        <Table highlight-row :loading="arpLoading" :columns="arpColumns" :data="arpData" @on-current-change="selectTable">
          <div slot="footer" style="display: none;"></div>
        </Table>
    </Modal>
    <!-- 这个不能删除，用于底部显示 -->
    <slot name="footer"></slot>
</Col>
</script>
<script src="/plugin/vue.js"></script>
<script src="/plugin/vue-i18n.js"></script>
<script src="/plugin/iview/iview.js"></script>
<script src="/plugin/jquery-1.11.3.min.js"></script>
<script src="/plugin/util.js"></script>
<script src="/static/js/language.js"></script>
<script src="/static/js/config.js"></script>
<script src="/static/js/layout.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/topicurl.js"></script>
<script>
var cs_main = {
  template:"#main",
  data:function(){
    return {
      globalConfig:globalConfig,
      arpLoading:true,
      addPortfwdLoading:false,
      atonceSelectFalg:false,
      formValidate: {
          status:false,
          protocol:'TCP&UDP',
          ip:'',
          fromPort:'',
          wanfromPort:'',
          comment:''
      },
      ip:'',
      lanIp: '',
      lanNetmask: '',
      showModel:false,
        arpColumns: [
            {
                title: '#',
                key: 'idx',
                sortable:true
            },
            {
                title: 'IP',
                key: 'ip',
                sortable:true
            },
            {
                title: 'MAC',
                key: 'mac',
                sortable:true
            }
        ],
        arpData: [],
        portfwdData: []
    }
  },
  computed:{
    ruleValidate: function(){
      var _this = this;
      return{
          ip: [
            { validator:function(r, v, f) {
                var ret = cs.ip(v);
                if (ret == 0 || ret == 1 || ret == 2 || ret == 3 || ret == 4) {
                    f(_this.$t('portfwd.msg1'));
                }
                if(v == _this.lanIp){
                    f(_this.$t('portfwd.msg2'));
                }
                if(0 == cs.ip_subnet(v,_this.lanNetmask,_this.lanIp)){
                    f(_this.$t('portfwd.msg3'));
                }
                f();
              },trigger: 'blur' }
          ],
          fromPort: [
              { validator:function(r, v, f) {
                var _s = cs.port(v,1,65535);
                if(_s == 1 || _s == 2) {
                  f(_this.$t('portfwd.msg4'));
                }else{
                  f();
                }
              },trigger: 'blur' }
          ],
          wanfromPort: [
              { required: true, message: this.$t('portfwd.msg6'), trigger: 'blur' },
              { validator:function(r, v, f) {
                var _s = cs.port(v,1,65535);
                if(_s == 1 || _s == 2) {
                  f(_this.$t('portfwd.msg5'));
                }else{
                    f();
                }
              },trigger: 'blur' }
          ],
          comment: [
            { validator:function(r, v, f){
                var _s = cs.commentstr(v);
                if(_s == 1){
                    f(_this.$t('portfwd.msg7'));
                }
				if(_s == 2){
					f(_this.$t('portfwd.msg14'));
              }
			   f();
            },trigger: 'blur'}
          ]
      }
    },
    portfwdColumns: function() {
        var _this = this;
        return [{
            type: 'selection',
            key: 'idx',
            width: '100',
            sortable: true
        }, {
            title: 'ID',
            key: 'idx',
            sortable: true
        }, {
            title: this.$t('portfwd.ip'),
            key: 'ip',
            sortable: true
        }, {
            title: this.$t('portfwd.protocol'),
            key: 'proto',
            sortable: true
        }, {
            title: this.$t('portfwd.internal_port'),
            key: 'lanPortFrom',
            sortable: true
        }, {
            title: this.$t('portfwd.external_port'),
            key: 'wanPortFrom',
            sortable: true
        }, {
            title: this.$t('portfwd.comment'),
            key: 'comment',
            sortable: true
        }, {
            title: this.$t('portfwd.select'),
            key: 'idx',
            align: 'center',
            render: function(h, params) {
                return h('Poptip',{
                    props: {
                        confirm: true,
                        title: _this.$t('macf.msg12'),
                        "ok-text":_this.$t('common.ok'),
                        "cancel-text":_this.$t('common.cancel')
                    },
                    on: {
                        "on-ok": function(){
                            _this.deleteData(params);
                        }
                    }
                }, [
                    h('Button', {
                        props: {
                            type: 'error',
                            size: 'small'
                        },
                    }, _this.$t('portfwd.delete'))
                ]);
            }
        }];
        }
    },
  created:function() {
    var _this = this;
    uiPost.getPortForwardRules(function(data){
        _this.formValidate.status = data[0].enable == 1 ?true :false;
        _this.lanIp = data[0].lanIp;
        _this.lanNetmask = data[0].lanNetmask;
        if (data[0].lanIp) {
            var temp = data[0].lanIp.split('.');
            _this.formValidate.ip = temp[0]+'.'+temp[1]+'.'+temp[2]+'.';
        }
        var rule_num = data.length;
        if(rule_num >= 2){
            _this.portfwdData = data.slice(1);
        }
    })
  },
  methods:{
    handleSubmit: function(name) {
        var _this = this;
        _this.addPortfwdLoading = true;
        _this.$refs[name].validate(function(valid){
            if (valid) {
                if(_this.portfwdData.length){
                    for(var i=0; i<_this.portfwdData.length; i++){
                        if(
                            _this.formValidate.ip == _this.portfwdData[i].ip &&
                            _this.formValidate.fromPort == _this.portfwdData[i].lanPortFrom &&
                            _this.formValidate.wanfromPort == _this.portfwdData[i].wanPortFrom
                            ){
                            _this.$Message.error(_this.$t('portfwd.msg8'));
                            _this.addPortfwdLoading = false;
                            return false;
                        }
                    }
                }
                var postVar = {};
                postVar.ipAddress = _this.formValidate.ip;
                postVar.wanPortFrom = _this.formValidate.wanfromPort;
                postVar.wanPortTo = _this.formValidate.wanfromPort;
                postVar.lanPortFrom = _this.formValidate.fromPort;
                postVar.lanPortTo = _this.formValidate.fromPort;
                postVar.protocol = _this.formValidate.protocol;
                postVar.comment = _this.formValidate.comment;
                postVar.addEffect = "0";
                uiPost.setPortForwardRules(postVar,function(data){
					if(data.portReuse == 1){
						_this.$Message.error(_this.$t('portfwd.msg8'));
						_this.addPortfwdLoading = false;
                        return false;
					}else{
						location.href = location.href;
						_this.addPortfwdLoading = false;
					}
                });
            }else{
                _this.addPortfwdLoading = false;
            }
        })
    },
    showClientList:function () { 
        var _this = this;
        this.showModel = true;
        uiPost.getArpTable(function(data) {
            _this.arpData = data.slice(1);
            _this.arpLoading = false;
        });
    },
    ok:function () {
        this.formValidate.ip = this.ip;
        //this.$Message.info('Clicked ok');
    },
    cancel:function () {
        //this.$Message.info('Clicked cancel');
    },
    submitStatus:function(){
        var postVar = {};
        if(true == this.formValidate.status){
            postVar.enable = "1";
        }else{
            postVar.enable = "0";
        }
        postVar.addEffect = "1";
        uiPost.setPortForwardRules(postVar);
    },
    selectTable:function (obj) {
        this.ip = obj.ip;
    },
    deleteData:function (obj) {
        var _this = this;
        var postVar = {};
        postVar[obj.row.delRuleName] = obj.index;
        uiPost.delPortForwardRules(postVar,function(){
            _this.portfwdData.splice(obj.index, 1);
        });
    },
    tableSelectAtonce:function(){
        var _this = this;
        var getSelection = this.$refs.tableSelect.getSelection();
        if (getSelection.length>0) {
            _this.atonceSelectFalg = true;
        }else{
            _this.atonceSelectFalg = false;
        }
    },
    tableSelect:function(status){
        var _this = this;
        if (status) {
            var getSelection = this.$refs.tableSelect.getSelection();
            if (getSelection.length>0) {
                var postVar = {};
                for(var i=0; i<getSelection.length; i++)
                {
                    postVar[getSelection[i].delRuleName] = i;
                }
                uiPost.delPortForwardRules(postVar,function(){
                    _this.$Message.success({content:_this.$t('portfwd.msg13'),onClose:function(){
                        location.href = location.href;
                    }});
                    
                });
            }
        }else{
            this.$refs.tableSelect.selectAll(status);
        }
    }
  }
};
</script>
<script src="/static/js/main.js"></script>
</body>
</html>