<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="/plugin/iview/styles/iview.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div id="app"></div>

<script type="text/x-template" id="main">
<Col class="cs-container" span="20" >
    <slot name="breadcrumb"></slot>
    <!-- 这个不能删除，用于面包屑显示 -->
    <div class="cs-content">
        <Row>
          <Col :xs="globalConfig.xs">
            <Card>
            <Alert>
             {{ $t('central.help') }}
            </Alert>
            <Row>
              <Col>
                <Button type="primary" :loading="apscanLoading" @click="apscanClick">{{ $t('central.apscan') }}</Button>
                <Button type="primary" @click="setinfoClick">{{ $t('central.setinfo') }}</Button>
                <Button type="primary" @click="letctlClick">{{ $t('central.letctl') }}</Button>
                <Button type="primary" @click="rebootClick">{{ $t('central.reboot') }}</Button>
                <Button type="primary" @click="timingRebootClick">{{ $t('central.timing_reboot') }}</Button>
                <Button type="primary" @click="restoreClick">{{ $t('central.restore') }}</Button>
                <Tooltip trigger="hover" placement="top" :disabled="!usbState">
                  <Button type="primary" @click="uploadClick" :disabled="usbState">{{ $t('central.fw_manage') }}</Button>
                  <div slot="content" style="white-space: normal;"> {{ $t('central.tip1') }} </div>
                </Tooltip>
                <Button type="primary" @click="firmwareClick">{{ $t('central.firmware') }}</Button>
              </Col>
              <br>
              <Col>
                <Table border ref="central" :columns="centralColumns" :data="centralData" @on-selection-change="centralTable"></Table>
              </Col>
            </Row>
          </Card>
        </Col>
        </Row>
    </div>
    <Modal
        v-model="setinfo"
        :title="$t('central.setinfo')"
        :closable="false"
        :mask-closable="false"
        >
        <Form ref="formSetinfo" :model="formSetinfo" :label-width="120" :rules="ruleSetinfo" label-position="left">
          <FormItem :label="$t('central.apname')" prop="apname" v-if="multipleHide">
              <Input v-model="formSetinfo.apname" :maxlength="32"></Input>
          </FormItem>
          <FormItem :label="$t('central.authpwd')" prop="authpwd">
              <Input v-model="formSetinfo.authpwd" :maxlength="32"></Input>
          </FormItem>
          <FormItem :label="$t('central.change_passwd')">
              <Input v-model="formSetinfo.changePasswd" :maxlength="32"></Input>
          </FormItem>
		  <FormItem :label="$t('central.lanDhcpcSwitch')" prop="lanDhcpcSwitch" v-if="multipleHide">
              <Select v-model="formSetinfo.lanDhcpcSwitch" :transfer="true">
                  <Option value="1">{{ $t('central.dynamic') }}</Option>
                  <Option value="0">{{ $t('central.manual') }}</Option>
              </Select>
           </FormItem>
          <FormItem :label="$t('central.ipaddr')" prop="ipaddr" v-if="multipleHide">
              <Input v-model="formSetinfo.ipaddr" :disabled="formSetinfo.lanDhcpcSwitch==1"></Input>
          </FormItem>
          <FormItem :label="$t('central.default_gateway')" prop="gateway" v-if="multipleHide" >
              <Input v-model="formSetinfo.gateway" :disabled="formSetinfo.lanDhcpcSwitch==1"></Input>
          </FormItem>
          <FormItem label="DNS" prop="dns" v-if="multipleHide" >
              <Input v-model="formSetinfo.dns" :disabled="formSetinfo.lanDhcpcSwitch==1"></Input>
          </FormItem>
          <FormItem :label="$t('central.ssid',['2.4G'])" prop="ssid2">
              <Input v-model="formSetinfo.ssid2" ></Input>
          </FormItem>
          <FormItem :label="$t('central.security',['2.4G'])" prop="security2">
              <Input v-model="formSetinfo.security2" :disabled="formSetinfo.securityMode2==0" key="securityMode2">
                <Select v-model="formSetinfo.securityMode2" :transfer="true" slot="prepend" style="width: 80px">
                    <Option value="0">{{ $t('central.none_security') }}</Option>
                    <Option value="1">{{ $t('central.security_psk') }}</Option>
                </Select>
              </Input>
          </FormItem>
          <FormItem :label="$t('central.channels',['2.4G'])">
              <Select v-model="formSetinfo.channel2" :key="$t('central.channels',['2.4G'])" :transfer="true" placement="top">
                  <Option value="-1">{{ $t('central.unmodify') }}</Option>
                  <Option value="0">{{ $t('central.auto_select') }}</Option>
                  <Option v-for="i in 13" :key="i" :value="i">{{ i }}</Option>
              </Select>
          </FormItem>
          <FormItem :label="$t('central.tx_powers',['2.4G'])">
              <Select v-model="formSetinfo.tx_power2" :transfer="true" placement="top">
                  <Option v-for="i in txPower" :key="i" :value="i">{{ i!='-1'?i+'%':$t('central.unmodify') }}</Option>
              </Select>
          </FormItem>
          <div v-if="ssid5Status">
          <FormItem :label="$t('central.ssid',['5G'])" prop="ssid5">
              <Input v-model="formSetinfo.ssid5" ></Input>
          </FormItem>
          <FormItem :label="$t('central.security',['5G'])" prop="security5">
              <Input v-model="formSetinfo.security5" :disabled="formSetinfo.securityMode5==0" key="securityMode5">
                <Select v-model="formSetinfo.securityMode5" :transfer="true" slot="prepend" style="width: 80px">
                    <Option value="0">{{ $t('central.none_security') }}</Option>
                    <Option value="1">{{ $t('central.security_psk') }}</Option>
                </Select>
              </Input>
          </FormItem>
          <FormItem :label="$t('central.channels',['5G'])">
              <Select v-model="formSetinfo.channel5" :transfer="true" placement="top">
                  <Option v-for="channel in channel5Option" :key="channel.value" :value="channel.value">{{channel.option}}</Option>
              </Select>
          </FormItem>
          <FormItem :label="$t('central.tx_powers',['5G'])">
            <Select v-model="formSetinfo.tx_power5" :transfer="true" placement="top">
                  <Option v-for="i in txPower" :key="i" :value="i">{{ i!='-1'?i+'%':$t('central.unmodify') }}</Option>
              </Select>
          </FormItem>
          </div>
        </Form>
        <div slot="footer">
          <Button type="text" @click="setinfo=false">{{ $t('common.cancel') }}</Button>
          <Button type="primary" @click="setinfoOk">{{ $t('common.apply') }}</Button>
        </div>
    </Modal>
    <Modal
        v-model="letctl"
        :title="$t('central.letctl')"
        >
        <Alert>
        {{ $t('central.ledctl_tip') }}
        </Alert>
        <Form :label-width="120" label-position="left">
          <FormItem :label="$t('central.authpwd')">
              <Input v-model="letctlAuthpwd" ></Input>
          </FormItem>
          <FormItem>
            <Button type="primary" @click="letctlOk(2)">{{ $t('central.open') }}</Button>
            <Button type="primary" @click="letctlOk(1)">{{ $t('central.finish') }}</Button>
          </FormItem>
        </Form>
         <div slot="footer">
        </div>
    </Modal>
    <Modal
        v-model="reboot"
        :title="$t('central.reboot')"
        >
        <Form :label-width="120" label-position="left">
          <FormItem :label="$t('central.authpwd')">
              <Input v-model="letctlAuthpwd" ></Input>
          </FormItem>
          <FormItem>
            <Button type="primary" @click="rebootOk">{{ $t('central.reboot_btn') }}</Button>
          </FormItem>
        </Form>
         <div slot="footer">
        </div>
    </Modal>
    <Modal
        v-model="timingReboot"
        :title="$t('central.timing_reboot')"
        >
        <Form :label-width="120" label-position="left">
          <FormItem :label="$t('central.authpwd')">
              <Input v-model="letctlAuthpwd" ></Input>
          </FormItem>
          <FormItem :label="$t('central.timing_reboot')">
            <Select v-model="timingRebootSelect">
                <Option value="-1">{{ $t('central.unmodify') }}</Option>
                <Option value="0">{{ $t('central.disable') }}</Option>
                <Option value="3">3</Option>
                <Option value="4">4</Option>
                <Option value="5">5</Option>
                <Option value="6">6</Option>
            </Select>
          </FormItem>
          <FormItem>
            <Button type="primary" @click="timingRebootOk">{{ $t('common.apply') }}</Button>
          </FormItem>
        </Form>
         <div slot="footer">
        </div>
    </Modal>
    <Modal
        v-model="restore"
        :title="$t('central.restore')"
        >
        <Form :label-width="120" label-position="left">
          <FormItem :label="$t('central.authpwd')">
              <Input v-model="letctlAuthpwd" ></Input>
          </FormItem>
          <FormItem>
            <Button type="primary" @click="restoreOk">{{ $t('central.restore') }}</Button>
          </FormItem>
        </Form>
         <div slot="footer">
        </div>
    </Modal>
    <Modal
        v-model="uploads"
        :title="$t('central.fw_manage')"
        >
        <Form :label-width="120" label-position="left">
          <FormItem :label="$t('central.fwfile')">
                <!-- :max-size="upload.maxSize" -->
            <Upload
                ref="upload"
                :before-upload="handleUpload"
                :action="upload.action"
                :data="upload.data"
                :on-exceeded-size="exceededSize"
                :format="upload.format"
                :on-format-error="formatError"
                :on-success="uploadSuccess"
            >
              <Button icon="ios-cloud-upload-outline">{{ $t('central.select_file')+' & '+$t('central.file_upload')   }}</Button>
            </Upload>
          </FormItem>
		  <br>
		  <Col>
			<Table border ref="tableSelect" :columns="fileColumns" :data="fileData"></Table>
		  </Col>
        </Form>
         <div slot="footer">
        </div>
    </Modal>
    <Modal
        v-model="firmware"
        :title="$t('central.firmware')"
        >
        <Form :label-width="120" label-position="left">
          <FormItem :label="$t('central.authpwd')">
              <Input v-model="letctlAuthpwd" ></Input>
          </FormItem>
        <FormItem>
           <Poptip
              confirm
              placement="bottom"
              :title="$t('central.confirm_firm')"
              @on-ok="firmwareOk1"
              :ok-text="$t('common.confirm')"
              :cancel-text="$t('common.cancel')">
              <Button type="primary" @click="firmwareOk">{{ $t('central.firmware') }}</Button>
            </Poptip>
          </FormItem>
        </Form>
         <div slot="footer">
        </div>
    </Modal>
    <!-- 这个不能删除，用于底部显示 -->
    <slot name="footer"></slot>
</Col>
</script>
<script src="/plugin/vue.js"></script>
<script src="/plugin/vue-i18n.js"></script>
<script src="/plugin/iview/iview.js"></script>
<script src="/plugin/jquery-1.11.3.min.js"></script>
<script src="/plugin/util.js"></script>
<script src="/static/js/language.js"></script>
<script src="/static/js/config.js"></script>
<script src="/static/js/layout.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/topicurl.js"></script>
<script>
var cs_main = {
    template: "#main",
    data: function() {
        var _this = this;
        return {
            globalConfig: globalConfig,
            applyLoading: false,
            apscanLoading: false,
            multipleHide: true,
            centralData: [],
            usbState:false,
            setinfo:false,
            letctl:false,
            reboot: false,
            timingReboot: false,
            restore: false,
            uploads: false,
            firmware: false,
            txPower:['-1','15','35','50','75','100'],
            selectData:[],
			fileData:[],
			ssid5Status:true,
            formSetinfo: {
              apname: '',
              authpwd: 'admin',
              changePasswd: '',
			  lanDhcpcSwitch: '1',
              ipaddr: '',
              gateway: '',
              dns: '',
              ssid2: '',
              security2: '',
              securityMode2: '',
              channel2: '-1',
              tx_power2: -1,
              ssid5: '',
              security5: '',
              securityMode5: '',
              channel5: '-1',
              tx_power5: -1,
              other:[],
            },
            apname:'',
            letctlAuthpwd:'admin',
            timingRebootSelect:'',
            upload: {
              file: null,
              action: '/cgi-bin/cstecgi.cgi?action=upload&uploadHacApFw',
              format:['web'],
              data:{},
              maxSize: 1024
            },
            percent: 0
        }
    },
    watch:{
        'formSetinfo.securityMode2':function(){
            if('0' == this.formSetinfo.securityMode2){
                this.formSetinfo.security2 = null;
                this.$refs.formSetinfo.validate();
            }
        }
    },
    computed: {
        ruleSetinfo:function(){
          var _this = this;
          return {
              apname: [{ validator: function(r, v, f) {
                    if (_this.getLength(v) > 32) {
                      _this.$Message.error({content:_this.$t('central.msg8'),duration: 5});
                      f(_this.$t(' '));
                    }
                    f();
                  },
                  trigger: 'blur'
              }],
              authpwd: [{ validator: function(r, v, f) {
                    if (v == '') {
                      f(_this.$t('central.msg2'));
                    }
                    if (v.length>32) {
                      f(_this.$t('central.msg5'));
                    }
                    f();
                  },
                  trigger: 'blur'
              }],
              ipaddr:[
                  { validator:function(r, v, f) {
                    var _s = cs.ip(v);
                    if(0 == _s) {
                      f(_this.$t('central.ipaddr')+_this.$t('central.msg10'));
                    }else if(1 == _s) {
                      f(_this.$t('central.ipaddr')+_this.$t('central.msg14'));
                    }else if(2 == _s) {
                      f(_this.$t('central.ipaddr')+_this.$t('central.msg11'));
                    }else if(3 == _s) {
                      f(_this.$t('central.ipaddr')+_this.$t('central.msg12'));
                    }else if(4 == _s) {
                      f(_this.$t('central.ipaddr')+_this.$t('central.msg13'));
                    }else{
                      f();
                    }
                  },trigger: 'blur' }
              ],
              gateway:[
                  { validator:function(r, v, f) {
                    var _s = cs.ip(v);
                    if(0 == _s) {
                      f(_this.$t('central.default_gateway')+_this.$t('central.msg10'));
                    }else if(1 == _s) {
                      f(_this.$t('central.default_gateway')+_this.$t('central.msg14'));
                    }else if(2 == _s) {
                      f(_this.$t('central.default_gateway')+_this.$t('central.msg11'));
                    }else if(3 == _s) {
                      f(_this.$t('central.default_gateway')+_this.$t('central.msg12'));
                    }else if(4 == _s) {
                      f(_this.$t('central.default_gateway')+_this.$t('central.msg13'));
                    }else{
                      if(
                           _this.formSetinfo.gateway.split('.')[0] != _this.formSetinfo.ipaddr.split('.')[0]
                        || _this.formSetinfo.gateway.split('.')[1] != _this.formSetinfo.ipaddr.split('.')[1] 
                        || _this.formSetinfo.gateway.split('.')[2] != _this.formSetinfo.ipaddr.split('.')[2]
                      ){
                        f(_this.$t('central.msg6'));
                      }
                      if(_this.formSetinfo.gateway == _this.formSetinfo.ipaddr){
                        f(_this.$t('central.msg7'));
                      }
                      f();
                    }
                  },trigger: 'blur' }
              ],
              dns: [
                { validator:function(r, v, f) {
                  var _s = cs.ip(v);
                  if(0 == _s) {
                    f('DNS'+_this.$t('central.msg10'));
                  }else if(1 == _s) {
                    f('DNS'+_this.$t('central.msg14'));
                  }else if(2 == _s) {
                    f('DNS'+_this.$t('central.msg11'));
                  }else if(3 == _s) {
                    f('DNS'+_this.$t('central.msg12'));
                  }else if(4 == _s) {
                    f('DNS'+_this.$t('central.msg13'));
                  }else{
                    f();
                  }
                },trigger: 'blur' }
              ],
			  ssid2:[
				{ required: true, message: _this.$t('central.msg15',[this.$t('central.ssid',['2.4G'])]), trigger: 'blur' },
				{ validator:function(r, v, f) {
					var _s = cs.ssid(v);
					if(_s != 99) {
						f(_this.$t('central["msg'+(_s+15)+'"]'));
					}
					if(v[0] == " " || v[v.length-1] == " "){
						f(_this.$t('central.msg20'));
					}
                    f();
                },trigger: 'blur' }
			  ],
			  security2:[
				{ validator:function(r, v, f) {
					var _s = cs.string(v);
                    if(_this.formSetinfo.securityMode2 == "1"){
    					if(_s == 1){
    						f(_this.$t('central.msg19'));
    					}
    					if(v.length < 8 || v.length >63){
    						f(_this.$t('central.msg18'));
    					}else{
                            f();
                        }
                        
                    }else{
                        f();
                    }
                },trigger: 'blur' }
			  ],
			  ssid5:[
				{ required: true, message: _this.$t('central.msg15',[this.$t('central.ssid',['5G'])]), trigger: 'blur' },
				{ validator:function(r, v, f) {
                    var _s = cs.ssid(v);
				    if(_s != 99) {
						f(_this.$t('central["msg'+(_s+15)+'"]'));
					}
					if(v[0] == " " || v[v.length-1] == " "){
						f(_this.$t('central.msg20'));
					}
                    f();
                },trigger: 'blur' }
			  ],
			  security5:[
				{ validator:function(r, v, f) {
					var _s = cs.string(v);
                    if(_this.formSetinfo.securityMode5 == 1){
                        if(_s == 1){
                            f(_this.$t('central.msg19'));
                        }
                        if(v.length < 8 || v.length >63){
                            f(_this.$t('central.msg18'));
                        }
                        f();
                    }else{
                        f();
                    }
					
                },trigger: 'blur' }
			  ],
          }
        },
        centralColumns: function() {
            var _this = this;
            return [{
                type: 'expand',
                width: 30,
                render: function(h, params) {
                  var tmp_channel2 = 0, tmp_channel5 = 0; // 信道
                  if (params.row.channel5g == "") {
                      if (parseInt(params.row.channel2g) == 0) {
                          tmp_channel2 = _this.$t('central.auto');
                      } else {
                          tmp_channel2 = params.row.channel2g;
                      }
                  } else {
                      if (parseInt(params.row.channel2g) == 0) {
                          tmp_channel2 = _this.$t('central.auto');
                      } else {
                          tmp_channel2 = params.row.channel2g;
                      }
                      if (parseInt(params.row.channel5g) == 0) {
                          tmp_channel5 = _this.$t('central.auto');
                      } else {
                          tmp_channel5 = params.row.channel5g;
                      }
                  }
                  var _g5 = params.row.ssid5g==''?'none':'block';
                  var msg2, msg5, lanDhcpcSwitch;
                  if(params.row.wlanKey2g == ""){
                  	msg2 = _this.$t('central.none_security');
                  }else{
                  	msg2 = _this.$t('central.security_psk');
                  }
                  if(params.row.wlanKey5g == ""){
                  	msg5 = _this.$t('central.none_security');
                  }else{
                  	msg5 = _this.$t('central.security_psk');
                  }
                  if(params.row.lanDhcpcSwitch == "1"){
                  	lanDhcpcSwitch = _this.$t('central.dynamic');
                  }else{
                  	lanDhcpcSwitch = _this.$t('central.manual');
                  }
                  var _html2 = params.row.ssid2g.replace(/ /ig,'&nbsp;&nbsp;');
				  var _html5 = params.row.ssid5g.replace(/ /ig,'&nbsp;&nbsp;');

                  return h('Row',[
                    h('Col',{props:{span:8}},[h('p','ID:' + params.row.id )]),
                    h('Col',{props:{span:8}},[h('p',_this.$t('central.device_info') +':'+ params.row.fmVersion +'.'+ params.row.svn )]),
                    h('Col',{props:{span:8}},[h('p',_this.$t('central.lanDhcpcSwitch') +':'+ lanDhcpcSwitch )]),
                    h('Col',{props:{span:24}},[h('br')]),
                    h('Col',{props:{span:2}},[h('p',_this.$t('central.ssid',['2.4G']) +':')]),
                    h('Col',{props:{span:6}},[h('div',{domProps:{innerHTML :_html2}})]),
                    h('Col',{props:{span:8}},[h('p',_this.$t('central.channels',['2.4G']) +':'+ tmp_channel2 )]),
                    h('Col',{props:{span:8}},[h('p',_this.$t('central.security',['2.4G']) +':'+ msg2)]),
                    h('Col',{style:{display:_g5},props:{span:24}},[h('br')]),
                    h('Col',{style:{display:_g5},props:{span:2}},[h('p',_this.$t('central.ssid',['5G']) +':')]),
                    h('Col',{style:{display:_g5},props:{span:6}},[h('div',{domProps:{innerHTML :_html5}})]),
                    h('Col',{style:{display:_g5},props:{span:8}},[h('p',_this.$t('central.channels',['5G']) +':'+ tmp_channel5 )]),
                    h('Col',{style:{display:_g5},props:{span:8}},[h('p',_this.$t('central.security',['5G']) +':'+ msg5)])
                  ]);
                }
            },{
                type: 'selection',
                key: 'id',
                width: "60"
            }, {
                title: this.$t('central.apname'),
                key: 'name',
                sortable: true,
                render: function(h, params) {
                    var name = _this.$t('central.unknown');
                    if (params.row.name != '') {
                        name = params.row.name;
                    }
                    return h('div', name);
                }
            }, {
                title: this.$t('central.ipaddr'),
                key: 'ipaddr',
                sortable: true,
                render: function(h, params) {
                    return h('a', {
                        attrs: {
                            href: 'http://' + params.row.ipaddr,
                            target: '_blank'
                        },
                        domProps: {
                            innerHTML: params.row.ipaddr
                        }
                    });
                }
            }, {
                title: this.$t('central.macaddr'),
                key: 'apMac',
                sortable: true
            }, {
                title: this.$t('central.clientconn'),
                key: 'staNum2g',
                sortable: true,
                render: function(h, params) {
                    if (params.row.staNum5g != "") {
                        var tmp_num = params.row.staNum2g + "/" + params.row.staNum5g;
                    } else {
                        var tmp_num = params.row.staNum2g;
                    }
                    return h('div', tmp_num);
                }
            }, {
                title: this.$t('central.device_info'),
                key: 'softModel',
                sortable: true,
				render: function(h, params) {
					if(params.row.fwSvn != "" && params.row.fwUrl != "" && params.row.fwMd5 != "" && _this.usbState == false && params.row.fwSvn != params.row.svn){
						return h('Poptip',{
							props: {
								confirm: true,
								title: _this.$t('central.confirm_firm'),
								"ok-text":_this.$t('common.ok'),
								"cancel-text":_this.$t('common.cancel')
							},
							on: {
								"on-ok": function(){
									_this.firmwareOk1(params);
								}
							}
							}, [
								h('Button', {
									props: {
										type: 'primary',
										size: 'small'
									},
								}, _this.$t('central.firmware'))
						]);
					}else{
						return params.row.softModel;
					}
				}
            }, {
                title: this.$t('central.device_status'),
                key: 'onlieStatus',
                sortable: true,
                render: function(h, params) {
                    var apstatus = '';
					if(params.row.onlieStatus == 0) {
						apstatus = _this.$t('central.user_online');
					}else if(params.row.onlieStatus == 2) {
						apstatus = _this.$t('central.user_rebooting');
					}else if(params.row.onlieStatus == 3) {
						apstatus = _this.$t('central.user_updateing');
					}else if(params.row.onlieStatus == 4) {
						apstatus = _this.$t('central.user_configing');
					}else if(params.row.onlieStatus == 5) {
						apstatus = _this.$t('central.user_no_authority');
					}else {
						apstatus = _this.$t('central.user_offline');
					}
                    return h('div', apstatus);
                }
            }];
        },
		channel5Option:function(){
			var _this = this;
			return [
				{
					option: _this.$t('central.unmodify'),
					value: '-1'
				},{
					option: _this.$t('central.auto_select'),
					value: '0'
				},{
					option: '149',
					value: '149'
				},{
					option: '153',
					value: '153'
				},{
					option: '157',
					value: '157'
				},{
					option: '161',
					value: '161'
				}
			]
		},
		fileColumns:function(){
			var _this = this;
			return [
				{
					type: 'index',
					key: 'id',
					width: '65px',
					sortable: true
				},{
					title: _this.$t('central.fwversion'),
					key: 'fwVer',
					align: 'center',
					sortable: true
				},{
					title: _this.$t('central.action'),
					key: 'id',
					width: '90px',
					sortable: true,
					render:function(h,params){
						return h('Poptip',{
							props: {
								confirm: true,
								title: _this.$t('central.msg21'),
								"ok-text":_this.$t('common.ok'),
								"cancel-text":_this.$t('common.cancel')
							},
							on: {
								"on-ok": function(){
									_this.deletefw(params);
								}
							}
							}, [
								h('Button', {
									props: {
										type: 'error',
										size: 'small'
									},
								}, _this.$t('central.delete'))
						]);
					}
				}
			]
		}
    },
    created: function() {
      var _this = this;
      this.init();
       uiPost.getUsbState(function(data){
          _this.usbState = data.usbState != "1" ? true : false; 
        });
    },
    methods: {
        init: function() {
            var _this = this;
            uiPost.acScanAp(function(){
              var postVar = {};
              postVar.central = true; // test code by Yexk
              postVar.SqlCmd = 'select f.id,f.apMac,f.status,f.onlieStatus,f.lanDhcpcSwitch,f.ledCtlStatus,f.apType,f.csid,f.fmVersion,f.svn,f.softModel,f.schdReboot,f.ipaddr,f.mask,f.gateway,f.dns1,f.dns2,f.ssid2g,f.wlanKey2g,f.channel2g,f.staNum2g,f.txPower2g,f.ssid5g,f.wlanKey5g,f.channel5g,f.staNum5g,f.txPower5g,f.protocol,f.sameNetwork,o.password,o.name,w.fwSvn,w.fwUrl,w.fwMd5  from (BASICINFO f LEFT JOIN OTHERINFO o on f.apMac=o.mac ) LEFT JOIN FWINFO w on f.csid = w.fwCsid';
              uiPost.testSQLite(postVar, function(data) {
                  _this.centralData = data;
                  _this.apscanLoading = false;
              });
            });
			uiPost.getHacFwList(function(data){
              var j=0, arr = [];
		      for(var i=0;i<data.length;i++){
			     if(data[i].fwUrl != ""){
				    arr[j] = {};
				    arr[j].id = data[i].id;
				    arr[j].fwVer = data[i].fwCsid+"_"+data[i].fwUrl.split("_")[7];
				    arr[j].fwUrl = data[i].fwUrl;
				    j++;
			    }
		     }
		     _this.fileData = arr;
           });
        },
        apscanClick: function(){
          this.apscanLoading = true;
          this.init();
        },
        setinfoClick: function(){
          var temp = this.selectData;
          if (temp.length <= 0) {
            this.$Message.error(this.$t('central.msg1'));
            return false;
          }
          if (temp.length == 1) {
            this.formSetinfo.apname        = temp[0].name;
            this.apname                    = temp[0].name;
            this.formSetinfo.ipaddr        = temp[0].ipaddr;
			this.formSetinfo.lanDhcpcSwitch    = temp[0].lanDhcpcSwitch;
            this.formSetinfo.gateway       = temp[0].gateway;
            this.formSetinfo.dns           = temp[0].dns1;
            this.formSetinfo.ssid2         = temp[0].ssid2g;
			this.formSetinfo.securityMode2 = temp[0].wlanKey2g == "" ? "0" : "1";
            this.formSetinfo.security2     = temp[0].wlanKey2g;
            this.formSetinfo.channel2      = parseInt(temp[0].channel2g);
            this.formSetinfo.tx_power2     = temp[0].txPower2g;
            this.formSetinfo.ssid5         = temp[0].ssid5g;
			this.formSetinfo.securityMode5 = temp[0].wlanKey5g == "" ? "0" : "1";
            this.formSetinfo.security5     = temp[0].wlanKey5g;
            this.formSetinfo.channel5      = temp[0].channel5g;
            this.formSetinfo.tx_power5     = temp[0].txPower5g;
            this.formSetinfo.other         = temp[0];
            this.multipleHide = true;
			if(this.formSetinfo.ssid5){
				this.ssid5Status = true;
			}else{
				this.ssid5Status = false;
			}
          }else{
            this.multipleHide = false;
            for(var i in this.formSetinfo)
            {
              this.formSetinfo[i] = '';
            }
            this.ssid5Status = true;
            this.formSetinfo.ssid5 = '';
          }
          this.setinfo = true;
        },
        centralTable: function(selection){
          this.selectData = selection;
        },
        setinfoOk: function(){
          var _this = this;
          var postVar = {};
          var postData = { Action: "QuickSetting" };
          postData.AuthPassword = this.formSetinfo.authpwd;
          if (this.formSetinfo.changePasswd != "") {
            postData.ModifyPassword = this.formSetinfo.changePasswd;
          }
          postData.Ipaddr = this.formSetinfo.ipaddr;
		  postData.LanDhcpcSwitch = this.formSetinfo.lanDhcpcSwitch;
          postData.Gateway = this.formSetinfo.gateway;
          postData.Dns1 = this.formSetinfo.dns;
          postData.Ssid2g = this.formSetinfo.ssid2;
          postData.WlanKey2g = this.formSetinfo.security2;
          postData.Channel2g = this.formSetinfo.channel2;
          postData.TxPower2g = this.formSetinfo.tx_power2;
          postData.Ssid5g = this.formSetinfo.ssid5;
          postData.WlanKey5g = this.formSetinfo.security5;
          postData.Channel5g = this.formSetinfo.channel5;
          postData.TxPower5g = this.formSetinfo.tx_power5;
          postData.APName = this.formSetinfo.apname == "" ? this.apname : this.formSetinfo.apname;

          postVar.APMACLIST = [];
          postVar.APIPLIST = [];
          postVar.NETLIST = [];
          var selectData = this.selectData;
          for(var i=0; i<selectData.length; i++)
          {
            postVar.APMACLIST.push(selectData[i].apMac);
            postVar.APIPLIST.push(selectData[i].ipaddr);
            postVar.NETLIST.push(selectData[i].sameNetwork);
          }

          postVar.Action = "QuickSetting";
          postVar.postData = postData;

          this.$refs.formSetinfo.validate(function(valid){
            if (valid) {
              uiPost.QuickSetting(postVar,function(data){
                // _this.$Modal.remove();
                // location.href = location.href;
                _this.$Message.success(_this.$t('central.set_success'));
                _this.setinfo = false;
              });
            }
          });
        },
        letctlClick: function(){
          var temp = this.selectData;
          if (temp.length <= 0) {
            this.$Message.error(this.$t('central.msg1'));
            return false;
          }
          this.letctl = true;
        },
        letctlOk: function(index){
          var _this = this;
          if (this.letctlAuthpwd == '') {
            this.$Message.error(this.$t('central.msg2'));
            return false;
          }

          var postVar ={"topicurl":"setting/QuickSetting"};
          postVar.AuthPassword = this.letctlAuthpwd;
          postVar.Ledstate = index + '';
          postVar.Action = 'setledState';

          postVar.APMACLIST = [];
          postVar.APIPLIST = [];
          var selectData = this.selectData;
          for(var i=0; i<selectData.length; i++)
          {
            postVar.APMACLIST.push(selectData[i].apMac);
            postVar.APIPLIST.push(selectData[i].ipaddr);
          }

          uiPost.QuickSetting(postVar,function(){
            // location.href = location.href;
            _this.$Message.success(_this.$t('central.set_success'));
            _this.letctl = false;
          });
        },
        rebootClick: function(){
          var temp = this.selectData;
          if (temp.length <= 0) {
            this.$Message.error(this.$t('central.msg1'));
            return false;
          }
          this.reboot = true;
        },
        rebootOk: function(index){
          var _this = this;
          if (this.letctlAuthpwd == '') {
            this.$Message.error(this.$t('central.msg2'));
            return false;
          }

          var postVar ={"topicurl":"setting/QuickSetting"};
          postVar.AuthPassword = this.letctlAuthpwd;
          postVar.Action = 'RebootSystem';

          postVar.APMACLIST = [];
          postVar.APIPLIST = [];
          var selectData = this.selectData;
          for(var i=0; i<selectData.length; i++)
          {
            postVar.APMACLIST.push(selectData[i].apMac);
            postVar.APIPLIST.push(selectData[i].ipaddr);
          }

          uiPost.QuickSetting(postVar,function(){
            // location.href = location.href;
            _this.$Message.success(_this.$t('central.set_success'));
            _this.reboot = false;
          });
        },
        timingRebootClick: function(){
          var temp = this.selectData;
          if (temp.length <= 0) {
            this.$Message.error(this.$t('central.msg1'));
            return false;
          }
          this.timingReboot = true;
        },
        timingRebootOk: function(){
          var _this = this;
          if (this.letctlAuthpwd == '') {
            this.$Message.error(this.$t('central.msg2'));
            return false;
          }
          if (this.timingRebootSelect == '-1') {
            this.$Message.error(this.$t('central.msg3'));
            return false;
          }

          var postVar ={"topicurl":"setting/QuickSetting"};
          var postData = {"Action" : "QuickSetting"};
          postData.AuthPassword = this.letctlAuthpwd;
          postData.SchdReboot = this.timingRebootSelect;


          postVar.Action = 'QuickSetting';
          
          postVar.APMACLIST = [];
          postVar.APIPLIST = [];
          postVar.NETLIST = [];
          var selectData = this.selectData;
          for(var i=0; i<selectData.length; i++)
          {
            postVar.APMACLIST.push(selectData[i].apMac);
            postVar.APIPLIST.push(selectData[i].ipaddr);
            postVar.NETLIST.push(selectData[i].sameNetwork);
          }

          postVar.postData = postData;

          uiPost.QuickSetting(postVar,function(){
            // location.href = location.href;
            _this.$Message.success(_this.$t('central.set_success'));
            _this.timingReboot = false;
          });
        },
        restoreClick: function(){
          var temp = this.selectData;
          if (temp.length <= 0) {
            this.$Message.error(this.$t('central.msg1'));
            return false;
          }
          this.restore = true;
        },
        restoreOk: function(){
          var _this = this;
          if (this.letctlAuthpwd == '') {
            this.$Message.error(this.$t('central.msg2'));
            return false;
          }

          var postVar ={"topicurl":"setting/QuickSetting"};
          postVar.AuthPassword = this.letctlAuthpwd;
          postVar.Action = 'LoadDefSettings';

          postVar.APMACLIST = [];
          postVar.APIPLIST = [];
          var selectData = this.selectData;
          for(var i=0; i<selectData.length; i++)
          {
            postVar.APMACLIST.push(selectData[i].apMac);
            postVar.APIPLIST.push(selectData[i].ipaddr);
          }

          uiPost.QuickSetting(postVar,function(){
            // location.href = location.href;
            _this.$Message.success(_this.$t('central.set_success'));
            _this.restore = false;
          });
        },
        uploadClick: function(){
          this.uploads = true;
        },
        firmwareClick: function(){
          var temp = this.selectData;
          if (temp.length <= 0) {
            this.$Message.error(this.$t('central.msg1'));
            return false;
          }
          this.firmware = true;
        },
        firmwareOk: function(){
          if (this.letctlAuthpwd == '') {
            this.$Message.error(this.$t('central.msg2'));
            return false;
          }
        },
        firmwareOk1:function(singleUpgrade){
          var _this = this;
          var postVar ={"topicurl":"setting/QuickSetting"};
          postVar.AuthPassword = this.letctlAuthpwd;
          postVar.Action = 'RemoteUpgradeFW';
          postVar.Port = '80';
          postVar.ProxyEnabled = '0';

          postVar.APMACLIST = [];
          postVar.APIPLIST = [];
          postVar.URLLIST = [];
          postVar.MD5LIST = [];
		  if(singleUpgrade == undefined){
			  var selectData = this.selectData;
			  for(var i=0; i<selectData.length; i++)
			  {
				postVar.APMACLIST.push(selectData[i].apMac);
				postVar.APIPLIST.push(selectData[i].ipaddr);
				postVar.URLLIST.push(selectData[i].fwUrl);
				postVar.MD5LIST.push(selectData[i].fwMd5);
			  }
		  }else{
			    postVar.APMACLIST.push(singleUpgrade.row.apMac);
				postVar.APIPLIST.push(singleUpgrade.row.ipaddr);
				postVar.URLLIST.push(singleUpgrade.row.fwUrl);
				postVar.MD5LIST.push(singleUpgrade.row.fwMd5);
		  }
          uiPost.QuickSetting(postVar,function(){
            // location.href = location.href;
            _this.firmware = false;
          });
        },
        handleUpload: function(file) {
            this.$refs.upload.clearFiles();
			var data = this.centralData;
			for(var i=0;i<data.length;i++){
				if(file.name.split("_")[1]==data[i].csid){
					break;
				} 
			}		  
			if(i == data.length){  
				this.$Message.error({content:this.$t('central.MM_NoDeviceSu'),duration: 5});
				return false;
			}  
            this.upload.file = file;
        },
        exceededSize: function() {
          this.$Message.error({content:this.$t('config.msg3'),duration: 5});
        },
        formatError: function() {
          this.$Message.error({content:this.$t('config.msg2',[this.upload.format.join('、')]),duration: 5});
        },
        uploadSuccess:function(data){
			this.$refs.upload.clearFiles();
			if(data.uploadERR != "1"){
				this.$Message.error({content:this.$t('central["'+data.uploadERR+'"]'),duration: 5});
			}
			this.init();
        },
        getLength:function(s) {
            if (s.length>0) {
              var reg = /[\u4e00-\u9fa5]/gm;
              var _s = s.match(reg);
              return _s ? (s.length - _s.length) + (_s.length*3) : s.length;
            }
        },
		deletefw:function(params){
			var _this = this;
			var postVar = {"topicurl":"setting/delUsbFw"};
			var str = params.row.fwUrl.replace('/ACFirmware',"");
			postVar.fw = str;
			postVar.csid = params.row.fwVer.split("_")[0];
			uiPost.delUsbFw(postVar,function(data){
				_this.init();
			});
		}
    }
};
</script>
<script src="/static/js/main.js"></script>
</body>
</html>