<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="/plugin/iview/styles/iview.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div id="app"></div>

<script type="text/x-template" id="main">
<Col class="cs-container" span="20" >
    <slot name="breadcrumb"></slot>
    <!-- 这个不能删除，用于面包屑显示 -->
    <div class="cs-content">
        <Row>
          <Col :xs="globalConfig.xs" :sm="globalConfig.sm" :md="globalConfig.md" :lg="globalConfig.lg">
            <Card>
            <Alert>
              <!-- <h3>设置</h3> -->
              {{ $t('firmware.help') }}
            </Alert>
            <Form ref="formValidate" :label-width="globalConfig.labelWith" label-position="left">
              <FormItem :label="$t('firmware.firmware_ver')">
                  <Button @click="cloudCheck">{{ $t('firmware.cloud_check_newversion') }}</Button>
                  <span style="padding-left: 20px;">{{ version }}</span>
              </FormItem>
              <FormItem :label="$t('firmware.build_time')">
                  {{ buildTime }}
              </FormItem>
              <FormItem :label="$t('firmware.cloud_check_result')" v-if="result != 0 ">
                  <div v-if="result == 1">{{ $t('firmware.found_newfw') + newVersion + $t('firmware.manual_upgrade') }} 
                    <Button @click="cloudUpgrade">{{ $t('firmware.upgrade') }}</Button>
                  </div>
                  <div v-else-if="result == 2">{{ $t('firmware.check_internet_result') }}</div>
                  <div v-else-if="result == 3">{{ $t('firmware.cloudUpdateing') }}</div>
                  <div v-else-if="result == 4">{{ $t('firmware.check_if_newver') }}</div>
              </FormItem>
              <FormItem>
                 <Checkbox v-model="updateWithConfig">{{ platform == 'rtl' ? $t('firmware.upgrade_with_config') : $t('firmware.upgrade_with_reset') }}</Checkbox>
              </FormItem>
              <FormItem :label="$t('firmware.fwfile')">
                <Upload
                    ref="upload"
                    :before-upload="handleUpload"
                    :action="upload.action"
                    :data="upload.data"
                    :max-size="upload.maxSize"
                    :on-exceeded-size="exceededSize"
                    :format="upload.format"
                    :on-format-error="formatError"
                    :on-success="uploadSuccess"
                >
                  <Button icon="ios-cloud-upload-outline">{{ $t('firmware.select_file')+' & '+$t('firmware.upgrade')   }}</Button>
                </Upload>
              </FormItem>
          </Form>
          </Card>
        </Col>
        </Row>
    </div>
    <div style="display: none;">{{update}}</div>
    <!-- 这个不能删除，用于底部显示 -->
    <slot name="footer"></slot>
</Col>
</script>
<script src="/plugin/vue.js"></script>
<script src="/plugin/vue-i18n.js"></script>
<script src="/plugin/iview/iview.js"></script>
<script src="/plugin/jquery-1.11.3.min.js"></script>
<script src="/plugin/util.js"></script>
<script src="/static/js/language.js"></script>
<script src="/static/js/config.js"></script>
<script src="/static/js/layout.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/topicurl.js"></script>
<script>
var cs_main = {
  template:"#main",
  data:function(){
    var _this = this;
    return {
      globalConfig: globalConfig,
      applyLoading: false,
      result: 0,
	  platform:false,
      updateWithConfig:false,
      newVersion: '',
      hardModel: '',
      flashSize: '',
      version: '',
      buildTime: '',
      cloudFw: '',
      lanip: '',
      percent: 0,
      upload: {
        file: null,
        action: '',
        format:['web','bin'],
        data:{},
        maxSize: 4000,
      },
      upgradeAction:"/cgi-bin/cstecgi.cgi?action=upload&upgrade",
      setUpgradeFW:"0"
    }
  },
  computed:{
    update:function(){
      var str = this.upgradeAction;
      this.upload.action = this.updateWithConfig ? 
        str += '&flag=1' : 
        str += '&flag=0' ;
      return this.updateWithConfig;
    },
  },
  created: function() {
      var _this = this;
      uiPost.FirmwareUpgrade(function(data) {
          _this.hardModel = data.hardModel;
          _this.flashSize = data.flashSize;
          _this.version = data.fmVersion;
      if (data.buildTime.indexOf("-") != -1){
        _this.buildTime = data.buildTime;
      }else{    
    	  var _time =  /\s+/g;
    	  var time_ = data.buildTime.replace(_time, ' ');
            var month=["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
            for(var j=0; j<12; j++){
                if(time_.split(" ")[0] == month[j]){
                    var time = j+1;
                }
            }
            _this.buildTime = time_.split(" ")[2] +"-"+ time +"-"+ time_.split(" ")[1] +" "+ time_.split(" ")[3];
        }
          _this.cloudFw = data.cloudFw;
          _this.lanip = data.lanIp;
          if (data.maxSize!='') {
            _this.upload.maxSize = parseInt(data.maxSize);
          }
          if (data.upgradeAction!='') {
            _this.upgradeAction = data.upgradeAction;
          }
          if (data.setUpgradeFW!='') {
            _this.setUpgradeFW = data.setUpgradeFW;
          }
      });
  },
  methods: {
      cloudCheck:function() {
          var _this=this;
          uiPost.CloudSrvVersionCheck(function(data) {
                _this.newVersion = data.newVersion;
                if(data.cloudFwStatus == "New"){
                    _this.result=1;
                }else if(data.cloudFwStatus == "UnNet"){
                    _this.result=2;
                }else if(data.cloudFwStatus == "Update"){
                    _this.result=3;
                }else if(data.cloudFwStatus == "Idle"){
                    _this.result=4;
                }
          });
      },
      cloudUpgrade:function(){
        var _this = this;
        var postVar = {};
        var time = 0;
        if(_this.updateWithConfig){
            postVar.Flags = "1";
        }else{
            postVar.Flags = "0";
        }
        if (this.setUpgradeFW == '1') {
          uiPost.setUpgradeFW(postVar,function(data){
            if(data.wtime != undefined && data.wtime != ""){
                time = data.wtime;
            }
          });
          if(time != undefined && time != 0){
                var wtime = time;
            }else{
                var wtime = 120;
            }
        }else{
          uiPost.CloudACMunualUpdate(postVar,function(data){
            if(data.wtime != undefined && data.wtime != ""){
                time = data.wtime;
            }
          });
          if(time != undefined && time != 0){
                var wtime = time;
            }else{
                var wtime = 250;
            }
        }
        var lanip = location.host;
        _this.$Modal.success({
          loading:true,
          render: function(h) {
            return h('div',[
              _this.$t('firmware.upload'),
              h('Progress',{
                attrs:{ percent:_this.percent }
              })
            ])
          },
        });
        var percentTimer = setInterval(function(){
          if (_this.percent>=100) {
            clearInterval(percentTimer);
            location.href='http://'+lanip+'/login.html';
          }
          _this.percent++;
        },cs.getTimer(wtime));
      },
      handleUpload: function(file) {
        this.upload.file = file;
      },
      exceededSize: function() {
        this.$Message.error({content:this.$t('firmware.msg4',[cs.bytesToSize( (parseInt(this.upload.maxSize)*1000) )]),duration: 5});
      },
      formatError: function() {
        this.$Message.error({content:this.$t('firmware.msg2',[this.upload.format.join('、')]),duration: 5});
      },
      uploadSuccess:function(data){
        var _this = this;
        var percentTimer = null;
        if (data.upgradeStatus == "1") {
          if(data.wtime != undefined && data.wtime != ""){
            var wtime = data.wtime;
          }else{
            var wtime = 120;
          }
          _this.$Modal.success({
            loading:true,
            render: function(h) {
              return h('div',[
                _this.$t('common.loading'),
                h('Progress',{
                  attrs:{ percent:_this.percent }
                })
              ])
            },
          });
          percentTimer = setInterval(function(){
            if (_this.percent>=100) {
              clearInterval(percentTimer);
              location.href='/login.html';
            }
            _this.percent++;
          },cs.getTimer(wtime));
        } else {
            if(data.upgradeERR != ""){
              clearInterval(percentTimer);
              _this.$Modal.remove();
              _this.$Message.error({
                duration: 5,
                content: _this.$t('firmware["'+data.upgradeERR+'"]')
              });
            }
        }
      }
  }
};
</script>
<script src="/static/js/main.js"></script>
</body>
</html>