<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="/plugin/iview/styles/iview.css">
  <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div id="app"></div>

<script type="text/x-template" id="main">
<Col class="cs-container" span="20" >
    <slot name="breadcrumb"></slot>
    <!-- 这个不能删除，用于面包屑显示 -->
    <div class="cs-content">
        <row>
          <Col :xs="globalConfig.xs" :sm="globalConfig.sm" :md="globalConfig.md" :lg="globalConfig.lg">
            <Card>
            <Col>
                <Alert>
                    {{ $t('wps.help') }}
                </Alert>
                <Alert v-show="showWifiOff" type="error" show-icon>{{$t('wps.msg4')}}</Alert>
            </Col>
            <Form ref="formValidate" :model="formValidate" :rules="ruleValidate" :label-width="globalConfig.labelWith" label-position="left">
                <FormItem :label="$t('wps.on_off')">
                    <i-switch v-model="formValidate.status" size="large" @on-change="submitStatus" :disabled="showWifiOff">
                        <span slot="open">{{ $t('wps.on') }}</span>
                        <span slot="close">{{ $t('wps.off') }}</span>
                    </i-switch>
                </FormItem>
                <Col v-show="formValidate.status" >
                <FormItem :label="$t('wps.wps_state')" >
					<Button type="text" :loading="wpsStatus"> {{this.wpsStateFlag}} </Button>
                </FormItem>
                <FormItem :label="$t('wps.pin_code')" >
                    <span class="lh34" >{{this.wscPin}}</span>
                </FormItem>
                <FormItem :label="$t('wps.pbcpin_mode')" prop="wscMode">
                    <RadioGroup v-model="formValidate.wscMode">
                        <Radio label="0" >PBC</Radio>
                        <Radio label="1" >PIN</Radio>
                    </RadioGroup>
                </FormItem>
                <Col v-if="formValidate.wscMode == 1" >
					<FormItem prop="wscPinMode">
                        <RadioGroup v-model="formValidate.wscPinMode">
                            <Radio label="0">{{ $t('wps.pin_registrant') }}</Radio>
                            <Radio label="1">{{ $t('wps.pin_reg_agency') }}</Radio>
						</RadioGroup>
					</FormItem>
                    <FormItem v-if="formValidate.wscPinMode == 1" prop="pin">
                        <Input v-model="formValidate.pin" :maxlength="8"></Input>
                    </FormItem>
                </Col>
                <!-- btn -->
                <FormItem>
                  <Button type="primary" @click="handleSubmit('formValidate')">{{ $t('wps.apply') }}</Button>
                </FormItem>
                </Col>
            </Form>
            </Card>
            <br>
        </Col>
        </row>
    </div>
    <!-- 这个不能删除，用于底部显示 -->
    <slot name="footer"></slot>
</Col>
</script>
<script src="/plugin/vue.js"></script>
<script src="/plugin/vue-i18n.js"></script>
<script src="/plugin/iview/iview.js"></script>
<script src="/plugin/jquery-1.11.3.min.js"></script>
<script src="/plugin/util.js"></script>
<script src="/static/js/language.js"></script>
<script src="/static/js/config.js"></script>
<script src="/static/js/layout.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/topicurl.js"></script>
<script>
var cs_main = {
  template:"#main",
  data:function(){
    return {
      globalConfig:globalConfig,
      formValidate:{
        status:false,
        wscMode: '0',
        wscPinMode: '0',
        pin:''
      },
	  wpsStatus:false,
	  wscPin:'',
	  wpsStateFlag:'',
	  stopFlag:null,
	  wscFlag:'',
      showWifiOff:false
      }
    },
	computed:{
		ruleValidate:function() {
		var _this = this;
        return {
			wscMode:[
				{ validator:function(r, v, f) {f()}, trigger: 'change' }
			],
			wscPinMode:[
				{ validator:function(r, v, f) {f()}, trigger: 'change' }
			],
			pin:[
				{ validator:function(r, v, f) {
					var _s = cs.num(v);
					  if(0 == _s) {
						f(_this.$t('wps.wps_pin')+_this.$t('wps.msg1'));
					  }else if(1 == _s) {
						f(_this.$t('wps.wps_pin')+_this.$t('wps.msg2'));
					  }
					var accum = 0;
					accum += 3 * (parseInt(_this.formValidate.pin / 10000000) % 10);
					accum += 1 * (parseInt(_this.formValidate.pin / 1000000) % 10);
					accum += 3 * (parseInt(_this.formValidate.pin / 100000) % 10);
					accum += 1 * (parseInt(_this.formValidate.pin / 10000) % 10);
					accum += 3 * (parseInt(_this.formValidate.pin / 1000) % 10);
					accum += 1 * (parseInt(_this.formValidate.pin / 100) % 10);
					accum += 3 * (parseInt(_this.formValidate.pin / 10) % 10);
					accum += 1 * (parseInt(_this.formValidate.pin / 1) % 10);
					if((accum % 10) != 0){
						f(_this.$t('wps.msg3'));
					}
					f();
				},trigger: 'blur' }
			  ]
		    }
        }
	},
	watch:{
    },
    created: function() {
        var _this = this;
        var postVar = {};
        var location = window.location.href;
        if (location.indexOf("5g") >= 0) {
            this.wifiIdx = '0'; //5G
        } else {
            this.wifiIdx = '1'; //2.4G
        }
        postVar.wifiIdx = this.wifiIdx;
        uiPost.getWiFiWpsSetupConfig(postVar, function(data) {
            if (0 == data.wifiOff && 0 == data.wscFlag) {
                _this.showWifiOff = false;
                _this.formValidate.status = data.wscDisabled == 0 ? true : false;
            } else {
				_this.showWifiOff = true;
                _this.formValidate.status = false;
            }
            _this.wscPin = data.wscPin;
            _this.reset_form();
        });
    },
    methods:{
		handleSubmit:function(name) {
			var _this = this;
			_this.$refs[name].validate(function(valid){
				if (valid) {
					var postVar = {};
					postVar.wifiIdx = _this.wifiIdx;
					postVar.wscMode = _this.formValidate.wscMode;
					if(_this.formValidate.wscMode == 1){
						postVar.wscPinMode = _this.formValidate.wscPinMode;
						if(_this.formValidate.wscPinMode == 1){
							postVar.pin = _this.formValidate.pin;
						}
					}
					uiPost.setWiFiWpsConfig(postVar,function(data) {
						if(true == data.success){
							_this.stopFlag = window.setInterval(function(){
								_this.reset_form();
							}, 5000);
						}else{
							_this.wpsStatus = false;
							_this.wpsStateFlag = _this.$t('wps.wps_fail');
							_this.$Message.error(_this.$t('wps.fail'));
						}
					});
				} else {
					_this.$Message.error(_this.$t('wps.fail'));
				}
			})
		},
		submitStatus:function(){
			var _this = this;
			var postVar = {};
			postVar.wifiIdx = _this.wifiIdx;
			postVar.wscDisabled = _this.formValidate.status == true ? 0 : 1;
			uiPost.setWiFiWpsSetupConfig(postVar);
		},
		reset_form:function() {
			var _this = this;
			var postVar = {};
			postVar['wifiIdx'] = _this.wifiIdx;
			uiPost.getWiFiWpsConfig(postVar,function(data) {
				var wscResult = data.wscResult;
				var wscStatus = data.wscStatus;
				if("-1" == wscResult){
					_this.wpsStateFlag = _this.$t('wps.wps_fail');
					_this.$Message.error(_this.$t('wps.fail'));
					_this.wpsStatus = false;
					clearInterval(_this.stopFlag);
				}else if('1' == wscResult){
					_this.wpsStateFlag = _this.$t('wps.wps_success');
					_this.$Message.success(_this.$t('wps.succ'));
					_this.wpsStatus = false;
					clearInterval(_this.stopFlag);
				}else{
					if (wscStatus == "Not used"){
						_this.wpsStateFlag = _this.$t('wps.no_used');
						_this.wpsStatus = false;
						clearInterval(_this.stopFlag);
					}else if (wscStatus == "Idle"){
						_this.wpsStateFlag = _this.$t('wps.idle');
						_this.wpsStatus = false;
						clearInterval(_this.stopFlag);
					}else if (wscStatus == "Start WSC Process" || wscStatus == "Send M2"){
						_this.wpsStateFlag = _this.$t('wps.start_wps_process');
						_this.wpsStatus = true;
					}else if (wscStatus == "WSC Fail"){
						_this.wpsStateFlag = _this.$t('wps.wps_fail');
						_this.$Message.error(_this.$t('wps.fail'));
						_this.wpsStatus = false;
						clearInterval(_this.stopFlag);
					}else{
						_this.wpsStateFlag = _this.$t('wps.start_wps_process');
						_this.wpsStatus = true;
					}
				}
			});
		}
	}
};
</script>
<script src="/static/js/main.js"></script>
</body>
</html>